[Unit]
Description=Sailing

[Service]
Type=simple
PIDFile=/run/sailing.pid
ExecStart=/usr/bin/sailing
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
