1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "NTU COOK Team"
      VALUE "FileDescription", "Sailing simulation based on CFSR data"
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "sailing"
      VALUE "LegalCopyright", "En Shih"
      VALUE "OriginalFilename", "sailing.exe"
      VALUE "ProductName", "Sailing simulation"
      VALUE "ProductVersion", "0.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
2 ICON "res/sailing.ico"
